.icon-box-load {
  display: flex;
  justify-content: left;
  width: 80%;
  height: 50vh;
  z-index: 0;
}
.icon-load {
  z-index: 0;
  width: fit-content;
  height: 100%;
  filter: invert(100%) blur(1px);
}
.text-icon-load {
  display: flex;
  align-items: center;
  z-index: 0;
  color: white;
  filter: blur(1px);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.inner-main-load {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(24, 24, 24);
  box-sizing: border-box;

  animation-name: blurout;
  animation-iteration-count: 1;
  animation-duration: 6s;
}

@keyframes blurout {
  from {
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    filter: brightness(0%);
  }
  to {
    text-shadow: 0.06rem 0 0.06rem #ea3636, -0.125rem 0 0.06rem #1900ff;
    filter: brightness(100%);
  }
}

.flashing{
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1);
}
@keyframes flash {
    from{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.button-load{
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: red;
  border: 2px ridge black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 0;
  float: right;
}
.button-load:active{
  background-color: rgb(173, 0, 0);
}
.button-load p{
  margin-bottom: 5px;
}
.inner-main-start {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(24, 24, 24);
  box-sizing: border-box;

}
