.window {
  width: 600px;
  height: 400px;
  background-color: rgb(110, 110, 110);
  border: 5px ridge rgb(54, 54, 54);
  box-sizing: border-box;
  font-family: Lexend Deca;
  position: relative;
  z-index: 1;
}

.window-header {
  width: 100%;
  height: 30px;
  background-color: rgb(0, 47, 255);
  border-bottom: 3px ridge rgb(120, 120, 120);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: bold;
}
.window-header p {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.window-header button {
  background-color: red;
  color: white;
  border: 2px solid darkred;
  margin-right: 5px;
}
.window-header button:hover {
  background-color: rgb(192, 0, 0);
  cursor: pointer;
}
.window-content{
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-main{
  border: 3px inset gray;
  margin-top: 10px;
  background-color: rgb(177, 177, 177);
  
}
.button-main{
  border: 3px outset gray;
  margin-top: 10px;
  background-color: rgb(177, 177, 177);
  width: 9vw;
  height: 3vh;
  font-family:Lexend Deca ;
  font-size: 15px;
}
.button-main:hover{
  border: 3px inset gray;
  background-color: rgb(194, 194, 194);
  cursor: pointer;
}
