.window-main {
  margin-top: 5rem;
  width: 800px;
  height: 500px;
  background-color: rgb(110, 110, 110);
  border: 5px ridge rgb(54, 54, 54);
  box-sizing: border-box;
  font-family: Lexend Deca;
  position: relative;
  z-index: 1;
  animation-name: win;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes win {
  from {
    scale: 0%;
    top: 50%;
  }
  to {
    scale: 100%;
    top: 0%;
  }
}

.window-header-main {
  width: 100%;
  height: 7%;
  background-color: rgb(0, 47, 255);
  border-bottom: 3px ridge rgb(120, 120, 120);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: bold;
}
.window-header-main p {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.window-header-main button {
  background-color: red;
  color: white;
  border: 2px solid darkred;
  margin-right: 5px;
}
.window-header-main button:hover {
  background-color: rgb(192, 0, 0);
  cursor: pointer;
}
.window-content-main {
  display: flex;
  height: 93%;
}
.main-box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 3px ridge rgb(161, 161, 161);
  margin: 5px;
  cursor: pointer;
}
.main-box-1 img{
    width: 100%;
    height: 100%;
}
.main-box-1:hover{
    scale: 1.2;
}
.main-box-1:active{
  scale: 1.1;
}
.dn{
    cursor: not-allowed;
    filter:brightness(60%);
}

.grid {
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.img-corner {
  grid-column: 1/3;
  grid-row: 1/3;
  text-align: center;
  border: 2px ridge gray;
}
.img-corner img {
  width: 90%;
  height: 100%;
}
.side-text {
  grid-row: 3/7;
  grid-column: 1/3;
  font-size: 13px;

  border: 2px ridge gray;
}
.side-text p {
  margin: 0;
  border: 2px ridge gray;
  height: 20%;
}

.text-header {
  grid-column: 3/8;
  grid-row: 1/3;
  line-height: 1.8;
  border: 2px ridge gray;
}
.text-content {
  grid-row: 3/7;
  grid-column: 3/8;
  line-height: 1.8;
  border: 2px ridge gray;
}
.side-content {
  grid-row: 1/8;
  grid-column: 8/9;
  border: 2px ridge gray;
}
