@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("./style/login.css");
@import url("./style/main.css");
@import url("./style/load.css");



.icon-box p {
  font-family: Noto Sans Display;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
}

body {
  margin: 0;
  padding: 0;
  filter: contrast(120%);
}
#root {
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  box-sizing: border-box;
  border: 10px solid rgb(8, 8, 8);
}
.inner-main {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(24, 24, 24);
  box-sizing: border-box;
}
.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: relative;
  overflow: hidden;
}

.line {
  top: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 0;
  filter: blur(10px);
  animation-name: scan;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes scan {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

.icon-box {
  position: absolute;
  display: flex;
  top: 5%;
  width: 150px;
  height: 150px;
}
.icon {
  z-index: 0;
  filter: invert(100%) blur(1px);
}
.text-icon {
  display: flex;
  align-items: center;
  z-index: 0;
  color: white;
  filter: blur(1px);
  font-family: sans-serif;
  font-weight: bold;
}
.center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0, 12, 121); */
  background: linear-gradient(to top, #10006d, #070068, #120052, #1d006e);
  background-size: cover;
  background-size: 100% 2px;
  filter: blur(10px);
  z-index: 0;
}
